* {
	background-color: #eee;
	color: black;
}
div {

}

p {
text-align: justify;
}

img {
	height: auto;
	width: 20%;
	border: solid 2px #555;
	border-radius: 5px;
	margin: 20px;
}
.home-img img {
	margin: auto 35%;
	height: auto;
	width: 30%;
	border: none;
	border-radius: 30px;
}
h1, h2, h3, h4, h5, h6 {
	color: rgba(0,82,0, 0.8);
}
ul, ol, li {
	font-family: Verdana, Sans-serif;
	font-size: 12px;
}
.container {
	margin: auto 50px;
	padding: 40px;
	border: solid 5px #390039;
	box-shadow: rgba(0, 82, 0, 0.25) 0px 54px 55px, rgba(0, 82, 0, 0.12) 0px -12px 30px, rgba(0, 82, 0, 0.12) 0px 4px 6px, rgba(0, 82, 0, 0.17) 0px 12px 13px, rgba(0, 82, 0, 0.09) 0px -3px 5px;
}
a {
	color: #390039;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #fff;
	background-color: #390039;
}
.menu li {
	margin: auto;
	padding: auto;
	display: inline-block;
	border: solid 1px #555;
	border-radius: 5px;
}
.menu ul {

}
h1 {
	text-align: center;
	font-variant: small-caps;
	text-decoration: underline;
}
.back {

}
.back a {
	font-size: 18px;
	font-variant: small-caps;
	color: rgba(0,82,0, 0.8) !important; 
	position: relative;
	float: right;
	border-right: solid 4px #390039;
	border-top: solid 4px #390039;;
	border-bottom: solid 4px #390039;;
	padding: 5px;
}
.back a:hover {
	color: blue !important;
	background-color: #eee !important;
}